# AROS Configuration for Espressif ESP32-P4 (RV32IMAFDC @ 400 MHz)

ARCH                    := riscv32
CPU                     := esp32p4
TARGET                  := riscv32-esp32p4

CFLAGS_ARCH             := -march=rv32imafdc -mabi=ilp32d -mcmodel=medany -O2 -ffreestanding
LDFLAGS_ARCH            := -nostdlib -Wl,--gc-sections

ESP32_PORT              ?= /dev/cu.usbmodem*
ESP32_BAUD              ?= 921600
